{
    "presets": ["@babel/preset-env"],
    "plugins": [

        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-export-namespace-from",

        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ],
    "env": {
        "test": {
            "plugins": [
                "dynamic-import-node",
                "@babel/plugin-transform-runtime"
            ]
        }
    }
}
